# build output
dist/
# generated types
.astro/
.vercel

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel/

# migration
nextra-migration/
starlight-docs/
scripts/migration/build/
scripts/migration/logs/

# dynamic middleware matcher routes
# Middleware is supposed to be generated, but there's something wrong going on, we need to commit the original.
# middleware.js
src/middlewares/matcher-routes-dynamic.js

.idea/
.claude/
